* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Open Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.a-blog {
  color: #000;
}

.a-blog:hover {
  color: #4db380;
  text-decoration: none;
}

ul {
  list-style-type: square;
}

.site-header {
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: box;
  box-pack: center;
  box-align: center;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  box-shadow: 1px 1px 1px 1px #ccc;
  text-align: center;
}

.header-photo {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.header-title {
  margin-bottom: 1.5em;
}

.header-title__name {
  color: #000;
}

.header-title__position {
  color: #999;
  margin-top: -0.5em;
  font-size: small;
}

.header-socialnav {
  margin-bottom: 1.5em;
}

.header-socialnav__icon {
  margin-right: 0.5em;
  color: #ccc;
}

.header-socialnav__icon--github:hover {
  color: #000;
}

.header-socialnav__icon--facebook:hover {
  color: #3b5998;
}

.header-socialnav__icon--twitter:hover {
  color: #00aced;
}

.header-link-container {
  margin-bottom: 0.5em;
}

.header-link {
  color: #999;
  font-size: larger;
  margin-bottom: 0.5em;
}

@media (max-width: 400px) {
  .site-header {
    min-width: 23em;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
  }

  .header-title {
    margin: 0 !important;
  }

  .header-title__name h3{
    max-width: 100px;
    font-size: 1.3em;
  }

  .header-photo {
    margin: 0 auto;
  }

  .header-socialnav {
    margin-top: 1.3em !important;
  }

  .header-title__position {
    display: none;
  }
}

@media  (max-width: 800px) {
  .site-header {
    display: block;
    width: 100%;
    height: 7em;
    padding: 1.25em 2em;
  }

  .header-title {
    display: inline-block;
    float: left;
    width: 40%;
    margin: -1em 0 0 0;
  }

  .header-photo {
    display: inline-block;
    width: 56px;
    height: 56px;
  }

  .header-socialnav {
    display: inline-block;
    float: right;
    width: 40%;
    margin: 1em 0 0 0;
  }

  .header-links {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 992px) {
  .site-header {
    width: 16em;
    height: 100%;
    padding: 0;
    position: fixed;
  }

  .section {
    margin-left: 16em;
    padding: 5em 3em 3em;
  }
}

@media (min-width: 993px) {
  .site-header {
    width: 18em;
    height: 100%;
    position: fixed;
  }

  .section {
    margin-left: 18em;
    padding: 6em 5em 4em;
  }
}

.article-list {
  list-style-type: none;
  padding-left: 0;
}

.article-post-time {
  color: #aaa;
  font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.article-list__item {
  padding: 1.5em 0;
  border-top: 1px solid #eee;
}

.article-preview {
  color: #aaa;
  font-family: Open Sans,Helvetica Neue,sans-serif;
  font-size: 1.3em;
}

.article-preview:hover {
  color: #aaa;
}

.bio p {
  font-family: 'Noto Serif',Georgia,serif;
  font-size: 1.3em;
  text-align: justify;
  margin-bottom: 2em;
}

.about-link {
  font-size: 1.3em;
  font-family: 'Noto Serif',Georgia,serif;
  text-decoration: underline;
}

.article-section {
  margin-bottom: 66px;
}

.article-section p {
  font-size: 1.3em;
}

.article-section__title {
  margin-top: 40px;
}

.article-section__subtitle {
  margin-top: 30px;
}

.summary {
  margin: 20px 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4
}

.article-ul li {
  font-size: 1.3em;
}

.rc {
  color: #006700;
}

.well-marginless-bottom {
  margin-bottom: 0 !important;
}

.code-compact {
  line-height: .8em !important;
}

/* code example */
.input-group-addon {
  min-width: 40px;
}

.form-horizontal input[type='file'] {
  padding-top: 7px;
}